/*
 *  CARD LIST
 *  Grid of 'cards' such as for blog and what-we-do
 *
 */

/* Core Layout */

.tiles {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.tiles div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}

section div img {
  width: 100%;
  height: auto;
}

/* Responsive Adjustments */

@media screen and (max-width: 400px) {
  section div { margin: 0; }
  section { padding: 0; }
}
